.toggle-container{
    display: flex;
    align-items: center;
    margin-top: 3px;
}
.toogle-icon{
    font-size: 20px;
    margin: 0 10px;
}
.toggle{
    display: none;
}

.toggle + label{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 21px;
    background-color: #ccc;
    border-radius: 25px;
    cursor:pointer ;
    transition: background-color 0.3s ease;
}
.toggle-label::before{
    content: "";
    position:absolute;
    top: 2px;
    left: 2px;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-color: var(--toggle-bg);
    margin-right: 0.5em;
    transition: transform 0.3s ease;
}

.toggle +label::after{
    content: "";
    height: 0.8em;
    width: 0.8em;
    border-radius: 1em;
    background-color: var(--toggle-fg);
    position: absolute;
    transition: background-color 250ms ease-in-out, transform 250ms ease-in-out ;
}
.toggle:checked+label::after{
    transform: translateX(100%);
}
.toogle:checked+.toogle-label{
    background-color: #6200ea;
}
 .toogle:checked+.toggle-label::before{
    transform: translateX(25px);
 }